<html>

<head>
    <title>ACME Financial Group</title>
</head>

<body>
    <h1>Special Loan Program</h1>
	
    <div id="apply">
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="zipcode" placeholder="Zip Code">
        <button onclick="add_application()">Apply</button>
    </div>

    <div id="check_status">
        <input type="text" id="application_number_0" placeholder="application_number">
        <button onclick="check_status()">Check Status</button>
    </div>

    <div id="change_status">
        <input type="text" id="application_number_1" placeholder="application_number">
        <input type="text" id="new_status" placeholder="new_status">
        <button onclick="change_status()">Change Status</button>
    </div>


    <div id="return">
    <!-- Return data will be displayed here dynamically -->
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
